<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067611396185-jgng46glpnnt0g9h4848eaejqeam4pdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067611396185-jgng46glpnnt0g9h4848eaejqeam4pdr</string>
	<key>API_KEY</key>
	<string>AIzaSyAGvQLfoSxOafuZBqtoSbYgYARzgktwD1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1067611396185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aoun</string>
	<key>PROJECT_ID</key>
	<string>aounapp-268be</string>
	<key>STORAGE_BUCKET</key>
	<string>aounapp-268be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067611396185:ios:574b7248720528ae26f948</string>
</dict>
</plist>